/* global transition value*/
:root {
    --trans: all ease-in-out;
    --inf-loop: linear infinite;
    --alt: alternate;

    --one-sec: 0.1s;
    --two-sec: 0.2s;
    --three-sec: 0.3s;
    --four-sec: 0.4s;
    --five-sec: 0.5s;

    --one-sec-lg: 1s;
    --two-sec-lg: 2s;
    --three-sec-lg: 3s;


    --slow-trans: var(--trans) var(--five-sec);
    --default-trans: var(--trans) var(--three-sec);
    --fast-trans: var(--trans) var(--two-sec);

    --bounce: bounce var(--two-sec-lg) var(--inf-loop) var(--alt);
    --scroll: scroll 20s var(--inf-loop);
}

/* \\ End of global transition value*/

/* animation bounce */
@keyframes bounce {
    to {
        transform: translateY(-30px);
    }
}

/* infinite scrolling */
@keyframes scroll {
   to {
    transform: translate(calc(-50% - 75px));
   }
}