:root {
    /* solid colors */
    --c-primary : #070710;
    --c-secondary : #dd00ac;
    --c-white: #fff;
    --c-black : #000;
    --c-orange: #F2751A;
    --c-purple :#7130C3;
    --c-pink: #FF3BD4;
    --c-sky-blue : #12B5DE;
    --c-dark-blue: #0f1021;

    /* shadow colors */
    --c-gray :
}