
/****************************/
/* HERO SECTION */
/****************************/

.section-hero .hero-container {
    display: flex;
    flex-wrap: wrap;
}

:where( .hero-content , .hero-figure ) {
    width: 50%;
}

.hero-title {
    line-height: 1.2;
    font-family: var(--font-bold);
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right , var(--c-sky-blue) -10% , var(--c-purple) 30%, var(--c-pink) 60%);
}

.btn-discover {
    background-size: 200% 180%;
    background-image: radial-gradient( 200px circle at 50% 50% , var(--c-pink) .80%, var(--c-purple)  20%,  var(--c-dark-blue) 100% );
}

.btn-discover:hover {
    background-position: -100%;
}

.card-graphic, .card-uiux , .card-motion , .card-web {
    position: absolute;
    top: 0;
    width: 200px;
    animation: var(--bounce);
}

.card-container .card-img {
    display: block;
    width: var(--w-full);
    transform: translate(var(--mouse-x), var(--mouse-y));
}

.card-graphic {
    top: -40px;
    left: -80px;
    animation-delay: var(--five-sec);
}

.card-uiux {
    top: 0;
    left: 140px;
    animation-delay: var(--three-sec);
}

.card-motion {
    top: 20px;
    right: 0;
    animation-delay: var(--four-sec);
}

.card-web {
    top: -280px;
    right: -120px;
    animation-delay: var(--one-sec);
}

/* \\END OF HERO SECTION */