
/* Large heading style */
.title-lg { 
    color: var(--c-white);
 }

/* Medium heading style */
.title-md { 
    color: var(--c-white);
}

/* Small heading style */
.title-sm { 
    color: var(--c-secondary);
 }

