
/* Large heading style */
.title-lg { 
    color: var(--c-white);
 }

/* Medium heading style */
.title-md { 
    color: var(--c-white);
}

/* Small heading style */
.title-sm { 
    font-size: 20px;
    font-family: var(--font-medium);
    color: var(--c-secondary);
 }

